# Tarea 1. EDA telecom_churn

Importar librer√≠as a utilizar üìö

In [2]:
import numpy as np
import pandas as pd

pd.set_option("display.precision", 2)

Cargar archivo telecom_churn.csv

In [3]:
df = pd.read_csv("/content/drive/MyDrive/MaestriÃÅa UDEM/2do Tetra/MineriÃÅa de Datos/Tareas y actividades/Tarea 1 - AnaÃÅlisis con Python de telecom_churn/telecom_churn.csv")
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Calcular tama√±o de filas (registros) y columnas (variables)

In [4]:
print(df.shape)

(3333, 20)

Calcular proporci√≥n de registros con Churn en 0 y en 1 (GRAFICAR TODO)

In [5]:
df["Churn"].value_counts()

False    2850
True      483
Name: Churn, dtype: int64

In [6]:
df["Churn"].value_counts(normalize=True)

False    0.86
True     0.14
Name: Churn, dtype: float64

¬øCuantos Churn en 1 y 0 por State?

In [23]:
# Churn en 1
df2 = df[df["Churn"] == True]
df3 = df2.groupby(['State'])["Churn"].count()

print(df3)

State
AK     3
AL     8
AR    11
AZ     4
CA     9
CO     9
CT    12
DC     5
DE     9
FL     8
GA     8
HI     3
IA     3
ID     9
IL     5
IN     9
KS    13
KY     8
LA     4
MA    11
MD    17
ME    13
MI    16
MN    15
MO     7
MS    14
MT    14
NC    11
ND     6
NE     5
NH     9
NJ    18
NM     6
NV    14
NY    15
OH    10
OK     9
OR    11
PA     8
RI     6
SC    14
SD     8
TN     5
TX    18
UT    10
VA     5
VT     8
WA    14
WI     7
WV    10
WY     9
Name: Churn, dtype: int64

In [24]:
# Churn en 0
df2 = df[df["Churn"] == False]
df3 = df2.groupby(['State'])["Churn"].count()

print(df3)

State
AK    49
AL    72
AR    44
AZ    60
CA    25
CO    57
CT    62
DC    49
DE    52
FL    55
GA    46
HI    50
IA    41
ID    64
IL    53
IN    62
KS    57
KY    51
LA    47
MA    54
MD    53
ME    49
MI    57
MN    69
MO    56
MS    51
MT    54
NC    57
ND    56
NE    56
NH    47
NJ    50
NM    56
NV    52
NY    68
OH    68
OK    52
OR    67
PA    37
RI    59
SC    46
SD    52
TN    48
TX    54
UT    62
VA    72
VT    65
WA    52
WI    71
WV    96
WY    68
Name: Churn, dtype: int64

¬øCuantas llamadas promedio de Customer Service por Churn 1 y 0?

In [39]:
# Churn en 0
df2 = df[df["Churn"] == False]
df3 = df2.groupby(['Churn'])["Customer service calls"].mean()

print(df3)

Churn
False    1.45
Name: Customer service calls, dtype: float64

In [40]:
# Churn en 1
df2 = df[df["Churn"] == True]
df3 = df2.groupby(['Churn'])["Customer service calls"].mean()

print(df3)

Churn
True    2.23
Name: Customer service calls, dtype: float64

¬øCuantos Churn 1 y 0 tienen Voice mail plan?

In [30]:
# Churn en 0
df2 = df[df["Churn"] == False]
df3 = df2.groupby(['Voice mail plan'])["Churn"].count()

print(df3)

Voice mail plan
No     2008
Yes     842
Name: Churn, dtype: int64

In [31]:
# Churn en 1
df2 = df[df["Churn"] == True]
df3 = df2.groupby(['Voice mail plan'])["Churn"].count()

print(df3)

Voice mail plan
No     403
Yes     80
Name: Churn, dtype: int64

¬øCuantos Churn 1 y 0 tienen international plan?

In [32]:
# Churn en 0
df2 = df[df["Churn"] == False]
df3 = df2.groupby(['International plan'])["Churn"].count()

print(df3)

International plan
No     2664
Yes     186
Name: Churn, dtype: int64

In [33]:
# Churn en 1
df2 = df[df["Churn"] == True]
df3 = df2.groupby(['International plan'])["Churn"].count()

print(df3)

International plan
No     346
Yes    137
Name: Churn, dtype: int64

Cantidad de llamadas promedio al d√≠a para Churn 1 y 0

In [37]:
# Churn en 0
df2 = df[df["Churn"] == False]
df3 = df2.groupby(['Churn'])["Total day calls"].mean()

print(df3)

Churn
False    100.28
Name: Total day calls, dtype: float64

In [38]:
# Churn en 1
df2 = df[df["Churn"] == True]
df3 = df2.groupby(['Churn'])["Total day calls"].mean()

print(df3)

Churn
True    101.34
Name: Total day calls, dtype: float64

Cantidad de llamadas promedio en la tarde para Churn 1 y 0

Cantidad de llamadas promedio en la noche para Churn 1 y 0

Cantidad de minutos internacionales para Churn 1 y 0

Cantidad de llamadas internacionales para Churn 1 y 0